#container
{
    display: grid;
    grid-template-areas:
    "header header header"
    "bet play play"
    "footer footer footer";
    overflow: hidden;
}
.gridItem
{
    outline: 2px solid black;
}
div
{

}
#logo
{
    width: 8vh;
    height: 6vh;
}
#header
{
    grid-area: header;
    background-color: yellow;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 10vh;
}
#bet
{
    grid-area: bet;
    height: 65vh;
    padding: 2vh;
    background-color: khaki;
}
#betButton
{
    border-radius: 1vh;
    background-color: blue;
}
#play
{
    grid-area: play;
    background-color: khaki;
    height: 65vh;
    padding: 2vh;
}
#footer
{
    grid-area: footer;
    background-color: yellow;
    text-align: center;
    text-justify: auto;
    height: 5vh;
}